.publicationList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
}

.publication {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

/* Thumbnail ảnh */
.thumbnail {
  width: 160px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
  flex-shrink: 0;
}

/* Phần nội dung bài viết */
.pubContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pubTitle {
  font-size: 1.1rem;
  font-weight: 600;
  color: #222;
  text-decoration: none;
}

.pubTitle:hover {
  text-decoration: underline;
}

.pubSubtitle {
  font-size: 0.95rem;
  color: #555;
  margin: 0;
}

.pubDate {
  font-size: 0.85rem;
  color: #888;
  margin: 0;
}

.pubAuthors {
  font-size: 0.9rem;
  color: #444;
}

.pubNote {
  font-style: italic;
  font-size: 0.85rem;
  color: #666;
}

.pubLink {
  font-size: 0.85rem;
  color: #0070f3;
  text-decoration: none;
}

.pubLink:hover {
  text-decoration: underline;
}

.tagContainer {
  display: flex;
}

.tagButton {
  padding: 2px;
  border: solid 1px rgb(119, 119, 119);
  border-radius: 7px;
  background-color: rgba(250, 235, 215, 0);
  margin: 0px 5px;
  font-size: 0.75rem;
}

/* Responsive mobile */
@media screen and (max-width: 640px) {
  .publication {
    flex-direction: column;
    align-items: flex-start;
  }

  .thumbnail {
    width: 100%;
    height: auto;
  }

}


.tagBar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.tagFilterBtn {
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  background-color: #A5A5E4;
  border: 1px solid #999;
  color: white;
  font-size: 0.85rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.tagFilterBtn span {
  font-weight: bold;
  margin-left: 4px;
}

.tagFilterBtn:hover {
  background-color: #6945bf;
}

.activeTag {
  background-color: white;
  color: #0070f3;
  border-color: #0070f3;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-top: 0.5rem;
}

.tagButton {
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
  border-radius: 999px;
  background-color: #8a88a1;
  color: white;
}