.dark pre[class*="language-"] {
  scrollbar-color: var(--code-scroll-bar-color) #282C34;
}


.dark pre code.hljs {
  color: white;
}

.dark .admonition,
.dark .admonition p {
  background-color: #404D61;
}

/* .dark-mode a {
  color: var(--primary-color-dark);
} */


.dark .prose h1 a,
.dark .prose h2 a,
.dark .prose h3 a,
.dark .prose h4 a,
.dark .prose h5 a,
.dark .prose h6 a,
.dark strong {
  color: var(--color-btn-primary-text);
}

.dark .prose hr {
  /* border-color: var(--hr-border-color-dark); */
  border-top: 1px solid hsl(0deg 0% 100% / 33%);
}

.dark .post aside strong {
  color: var(--color-btn-primary-text);
}

.dark .project .card-content {
  background-color: var(--contact-bc-dark);
  color: var(--text-color-dark);
}

.dark .project .card-description {
  color: var(--text-color-dark);
}

.dark .project .tags span {
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}

.dark .cert .cert-org {
  color: var(--text-color-dark);
}