body {
  font-family: var(--font-cmusans-vi), sans-serif;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.bolditalic {
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: var(--background-color);
  /* font-family: "Computer Modern Sans", sans-serif; */
  /* font-family: 'CMUSans', sans-serif; */
  font-size: 18px;
  color: var(--text-color);
  margin: 0;
  /* font-family: sans-serif; */
  /* background: #f8f8f8; */
}

.hr {
  border-bottom: 1px solid #ccc;
  margin: 10px;
}

/* ====== ZOOM IMAGES ====== */
.zoom-img {
  cursor: zoom-in;
  transition: transform 0.3s ease;
}

.zoom-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom-clone {
  position: fixed;
  z-index: 10000;
  transition: all 0.4s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/*========= HOME ========*/
/* SVG mặc định ẩn */
.section .item .title .icon-wrap svg {
  opacity: 0;
  transform: rotate(0deg);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hover .title → chỉ icon bên trong hiện */
.section .item .title:hover .icon-wrap svg {
  opacity: 1;
}

/* Khi click: thêm class "rotate" để xoay icon */
.section .item .title .icon-wrap svg.rotate {
  transform: rotate(90deg);
}

/* Nội dung chi tiết ẩn mặc định */
.section .item .details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

/* Khi mở ra */
.section .item .details.show {
  max-height: 500px;
  /* hoặc bao nhiêu tùy nội dung */
}

/* Nội dung đoạn văn */
.section .item .details p {
  margin: 0;
  margin-top: 0px;
  padding-left: 70px;
  font-weight: 200;
}

/*========== POST ======*/

/* Thụt dòng theo cấp độ heading */
.post .toc-item.level-2 {
  margin-left: 0px;
}

.post .toc-item.level-3 {
  margin-left: 16px;
}

.post .toc-item.level-4 {
  margin-left: 32px;
}


/*====== GITHUB CONTRIBUTIONS ======*/
.react-github-calendar__block {
  transition: all 0.3s ease;
  border-radius: 2px;
}

.react-github-calendar__block:hover {
  stroke: #ffffff;
  stroke-width: 1;
}

.dark .react-github-calendar__block:hover {
  stroke: #5a606b;
  stroke-width: 1;
}

.react-github-calendar :not(.react-activity-calendar__legend-colors)>svg {
  padding: 0px 5px;
  margin-bottom: 5px;
}

.react-github-calendar rect {
  stroke: rgb(0 0 0 / 11%) !important;
}

.dark .react-github-calendar rect {
  stroke: rgba(255, 255, 255, 0.04) !important;
}

.react-github-calendar rect[data-level="0"] {
  fill: #F0F0F0;
}

.react-github-calendar rect[data-level="1"] {
  fill: #b9e6c1;
}

.react-github-calendar rect[data-level="2"] {
  fill: #81cd95;
}

.react-github-calendar rect[data-level="3"] {
  fill: #4fb66f;
}

.react-github-calendar rect[data-level="4"] {
  fill: #2b9c51;
}


.dark .react-github-calendar rect[data-level="0"] {
  fill: #374151;
}

.dark .react-github-calendar rect[data-level="1"] {
  fill: #1e4429;
}

.dark .react-github-calendar rect[data-level="2"] {
  fill: #2d6d32;
}

.dark .react-github-calendar rect[data-level="3"] {
  fill: #3fa641;
}

.dark .react-github-calendar rect[data-level="4"] {
  fill: #53d353;
}

.dark .react-activity-calendar__footer {
  color: #F0F0F0
}

/* Light mode */
.react-activity-calendar__legend-colors svg:nth-child(2) rect {
  fill: #F0F0F0;
}

.react-activity-calendar__legend-colors svg:nth-child(3) rect {
  fill: #b9e6c1;
}

.react-activity-calendar__legend-colors svg:nth-child(4) rect {
  fill: #81cd95;
}

.react-activity-calendar__legend-colors svg:nth-child(5) rect {
  fill: #4fb66f;
}

.react-activity-calendar__legend-colors svg:nth-child(6) rect {
  fill: #2b9c51;
}

/* Dark mode */
.dark .react-activity-calendar__legend-colors svg:nth-child(2) rect {
  fill: #374151;
}

.dark .react-activity-calendar__legend-colors svg:nth-child(3) rect {
  fill: #1e4429;
}

.dark .react-activity-calendar__legend-colors svg:nth-child(4) rect {
  fill: #2d6d32;
}

.dark .react-activity-calendar__legend-colors svg:nth-child(5) rect {
  fill: #3fa641;
}

.dark .react-activity-calendar__legend-colors svg:nth-child(6) rect {
  fill: #53d353;
}

.react-activity-calendar__scroll-container::-webkit-scrollbar {
  height: 6px;
}

.react-activity-calendar__scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.react-activity-calendar__scroll-container::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 999px;
  transition: background-color 0.2s;
}

.react-activity-calendar__scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.nav-hide {
  transform: translateY(150%);
  opacity: 0;
  pointer-events: none;
}