:root {
  --primary-color: #0074e4;
  --primary-color-dark: #d41d45;
  --secondary-color: #ff6600;
  --background-color: #f0f0f0;
  --background-color-dark: #374151;
  --text-color: #1F2937;
  --text-color-dark: #e5e7eb;
  --contact-bc: #dbdfe7;
  --contact-bc-dark: #4A5363;
}

.prose {
  /* font-family: var(--font-cmusans), sans-serif; */
  font-size: 1.125rem;
  line-height: 1.8;
}

.markdown-body {
  background-color: var(--background-color);
  /* font-family: "Computer Modern Sans", sans-serif; */
  font-size: 18px;
  color: var(--text-color);
}

.markdown-body img {
  max-width: 100%;
}


/* RENOVAMEN */
/* Typography */
.prose p {
  line-height: 1.55;
  margin: 20px 0px;
}

.prose ul,
.prose li p {
  margin: 0 !important;
}

.prose a {
  text-decoration: none;
  text-underline-offset: 4px;
  color: var(--primary-color);
  font-weight: 400;
}

.prose a:hover {
  text-decoration: underline;
}

.prose h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 50px 0px;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  margin-top: 30px;
  line-height: normal;
}

.prose h1 a,
.prose h2 a,
.prose h3 a,
.prose h4 a,
.prose h5 a,
.prose h6 a {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 700;
}

.prose img,
.prose video {
  margin: 0.5rem auto;
  display: block;
}

.prose figure figcaption {
  font-size: 0.875rem;
  color: var(--color-fg-light);
}

.prose hr {
  border-top: 1px solid hsl(var(--border));
}

main:not(.post) a.header-anchor {
  display: none;
}

/* Tables */
.prose table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
  max-width: 100%;
  /* white-space: nowrap; */
}

.prose th,
.prose td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}


.prose tr {
  border-top: 1px solid #e5e7eb;
}

.prose tr:last-child {
  border-bottom: 1px solid #e5e7eb;
}


/* KaTeX */
.prose .katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.prose .katex {
  font-size: 1.1em;
}

/* Code blocks */
.prose div[class*="language-"] code span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

html.dark .prose div[class*="language-"] code span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

.prose div[class*="language-"] {
  position: relative;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  padding-top: 1.5rem;
  border-radius: 0.375rem;
}

.prose div[class*="language-"]::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0.875rem;
  left: 1rem;
  border-radius: 9999px;
  background-color: #fd5f57;
  box-shadow: 16px 0 0 0 #febb2f, 32px 0 0 0 #2ec841;
}

.prose div[class*="language-"]>span.lang {
  position: absolute;
  top: 0.625rem;
  right: 0.75rem;
  font-size: 0.875rem;
  opacity: 0.75;
}

.prose div[class*="language-"]>p {
  display: none;
}

.prose div[class*="language-"] figure {
  margin: 0;
}

.prose div[class*="language-"] pre {
  margin: 0;
  padding: 1rem;
  line-height: 1.5rem;
  font-size: 0.925em;
}

.prose div[class*="language-"] code {
  display: block;
  width: fit-content;
  min-width: 100%;
}

.prose div[class*="language-"] code>span[data-highlighted-line] {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  background-color: rgba(0, 0, 0, 0.7);
  width: calc(100% + 2rem);
}

html.dark .prose div[class*="language-"] code>span[data-highlighted-line] {
  background-color: rgba(0, 0, 0, 0.7);
}

mark {
  background-color: #facc15;
  color: #0f172a;
  padding: 0 4px;
  border-radius: 2px;
}

code {
  background-color: #39435D;
  padding: 2px 6px;
  border-radius: 4px;
  color: #38bdf8;
}

:not(pre)>code {
  line-height: 23.12px;
  font-size: 14px;
  font-weight: 600;
}

pre {
  background-color: #39435D;
  padding: 15px;
  border-radius: 6px;
  overflow-x: auto;
  color: #e2e8f0;
}

/* Inline code */
:not(pre)>code {
  font-weight: 600;
  /* font-family: var(--font-family-code); */
  color: #c52950;
  padding: .25rem .5rem;
  margin: 0;
  background-color: #f9f2f4;
  border-radius: 3px;
  overflow-wrap: break-word;
  /* transition: background-color var(--t-color); */
}

.dark :not(pre)>code {
  background-color: #334674;
  color: #aed2f4;
  transition: background-color #334674;
}


/* Custom containers */
.prose .custom-block {
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  padding: 0 1rem;
  margin: 1.5rem 0;
}

.prose .custom-block.details {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.prose .custom-block.details summary {
  font-weight: 400;
  font-size: 1rem;
}

.prose .custom-block.info {
  border-color: var(--color-info);
}

.prose .custom-block.info .custom-block-title {
  color: var(--color-info);
}

.prose .custom-block.tip {
  border-color: var(--color-success);
}

.prose .custom-block.tip .custom-block-title {
  color: var(--color-success);
}

.prose .custom-block.warning {
  border-color: var(--color-warning);
}

.prose .custom-block.warning .custom-block-title {
  color: var(--color-warning);
}

.prose .custom-block.danger {
  border-color: var(--color-danger);
}

.prose .custom-block.danger .custom-block-title {
  color: var(--color-danger);
}

/* Paper block layout */
.prose .paper-block {
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  gap: 1.25rem;
  border-top: 1px solid #e5e7eb;
}

@media (max-width: 640px) {
  .prose .paper-block {
    gap: 0;
  }

  .prose .paper-block .paper-images {
    display: none;
  }
}

.prose .paper-block .paper-images {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: 0.375rem;
}

.prose .paper-block .paper-images:not(.no-image) {
  background-color: white;
}

.prose .paper-block .paper-images>div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.prose .paper-block .paper-images>div img {
  margin: 0;
}

.prose .paper-block .paper-details {
  flex: 1;
}

.prose .paper-block .paper-details p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  line-height: 1.375;
}

.prose details {
  margin: 1rem 0;
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
}

.prose summary {
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 0.5rem;
}


/* Medium zoom */
.medium-zoom-overlay {
  z-index: 100;
  background-color: var(--color-bg) !important;
}

.medium-zoom-overlay~img {
  z-index: 101;
}

pre code {
  background-color: #00000000;
  color: #1e1e1e;
}

/* -------- Shared Styles -------- */
.prose pre {
  position: relative;
  margin: 1.5rem 0;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-size: 0.9rem;
  border: 1px solid #e5e7eb;
  font-family: 'Fira Code', 'Courier New', monospace;
  line-height: 1.6;
}

/* 3 nút kiểu macOS */
.prose pre::before {
  content: '';
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 9999px;
  background-color: #ff5f56;
  /* đỏ */

  box-shadow:
    14px 0 0 0 #ffbd2e,
    /* vàng */
    28px 0 0 0 #27c93f;
  /* xanh lá */
}

/* Ngôn ngữ ở góc phải */
.prose pre[data-lang]::after {
  content: attr(data-lang);
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 0.75rem;
  color: #888;
  /* text-transform: uppercase; */
  /* font-weight: 500; */
}

/* Dark mode support */
html.dark .prose pre {
  background-color: #343f50;
  border-color: #d5d4d4;
  color: #d4d4d4;
}

html.dark .prose pre[data-lang]::after {
  color: #aaa;
}

/* HIGHTLIGHT CODE */
.hljs {
  background-color: #005cc500;
  color: #333;
}

.hljs-keyword {
  color: #d73a49;
  font-weight: bold;
}

.hljs-string {
  color: #032f62;
}

.hljs-comment {
  color: #6a737d;
  font-style: italic;
}

.hljs-built_in {
  color: #005cc5;
}

.hljs-title {
  color: #6f42c1;
}

blockquote {
  margin: 0;
  padding: 1px 10px;
  border-left: 5px solid #b5b5b5;
}

.admonition {
  border-left: 8px solid #3fb950;
  padding: 1rem;
  margin: 1em 0;
  background-color: #eaeaea;
}

.dark-mode .admonition {
  background-color: #404D61;
}

.admonition p {
  margin: 0;
}

.admonition-title {
  height: 0;
}

.admonition .octicon {
  transform: scale(0.5);
  position: relative;
  top: 0;
  fill: #ffffff;
  border-radius: 50%;
  padding: 10px;
  left: -43px;
  width: 48px;
  height: 48px;
}

.admonition.warning {
  border-color: #d29922;
}

.admonition.tip {
  border-color: #3fb950;
}

.admonition.info {
  border-color: #007BFF;
}

.admonition.error {
  border-color: #d22222;
}

.admonition .tip .octicon {
  background: #3fb950;
}

.admonition .note .octicon {
  background: #007BFF;
}

.admonition .warning .octicon {
  background: #d29922;
}

.admonition .caution .octicon {
  background: #d22222;
}

.admonition .important .octicon {
  background: #8957E5;
}

.prose h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 50px 0;
  line-height: normal;
}

.prose h2 {
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.prose h3 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 30px;
}

.prose h4 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
}

.prose h5 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}

.prose h6 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
}

.prose h1 a,
.prose h2 a,
.prose h3 a,
.prose h4 a,
.prose h5 a,
.prose h6 a {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}