.repo-card {
  /* border-bottom: 1px solid #ccc; */
  padding: 30px 0;
}

.repo-card:hover {
  /* background-color: #8888880c; */
}

.repo-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.repo-header a {
  color: black !important
}

.repo-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.repo-stars {
  font-size: 0.9rem;
  font-weight: bold;
  color: #555;
}

.repo-desc {
  margin: 8px 0;
  font-size: 0.95rem;
  color: #333;
}

.repo-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 0.85rem;
  margin-top: 6px;
}

.repo-lang {
  display: inline-flex;
  align-items: center;
  padding: 2px 0.5px;
  font-size: 1.2rem;
  gap: 6px;
}

.repo-license {
  background-color: #fff3cd;
  color: #856404;
  padding: 2px 8px;
  border-radius: 4px;
}

.repo-updated {
  background-color: #e7e7e7;
  color: #555;
  padding: 0px 8px;
  border-radius: 4px;
}